<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: cabecalho('Cadastro de Funcionários')}" />

<body>

<form th:replace="~{fragmentos :: form-logout}" />
<div th:replace="fragmentos :: voltar-home"></div>


	<div class="container">
	
	
		<div class="row">
			<h1>Cadastro de Funcionário</h1>
		</div>
		<div class="row">

			<form th:object="${funcionario}" th:action="@{/funcionario/inserir}" method="post">
				
				   Email: <input class="form-control" type="email" th:field="*{nmEmailCorporativo}">
				   Senha: <input class="form-control" type="password" th:field="*{nm_senha}">
				   Nome Funcionário: <input class="form-control" type="text" th:field="*{nm_funcionario}">
				   Cargo: <input class="form-control" type="text" th:field="*{nm_cargo}">
				   Função:
				   <select class="form-select" th:field="*{funcoes}" multiple>
					   <option th:each="funcao : ${lista_funcoes}" th:value="${funcao.id_funcao}" th:text="${funcao.nm_funcao}" />
				   </select><br>
				   Filial:
				   <select class="form-select" th:field="*{filial}">
					   <option th:each="filial : ${lista_filiais}" th:value="${filial.id_filial}" th:text="${filial.nome_filial}" />
				   </select><br>
				
				<input type="hidden" name="_csrf" th:value="${_csrf.token}">
				
				<button type="submit">Cadastrar Funcionário</button>
			</form>


		</div>
		<div class="row">
			<a href="/index">Menu</a>
		</div>
	</div>

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
</body>

</html>